<%- include("partials/header") %>
<h1>Contact Me!</h1>
<p>Hi, you can contact me via: <br><br>
    <p>sageldeveloper@gmail.com</p>
    <a href="https://github.com/SageLDev">Github.com/SageLDev</a>
</p>
<%- include("partials/footer") %>
